<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="round">
    <div class="round--main"></div>
    <div class="round--red"></div>
    <div class="round--yellow"></div>
    <div class="round--green"></div>
  </div>
    <h1><a href="/">Pokedex</a></h1>
  </header>